<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Song Recommendation Generator</title>
  <!-- <link rel="stylesheet" href="style.css"> -->
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
  <div class="neato-header">
    <h2>Song Recommendation Engine</h2>
    <h1>Rhythm Garden</h1>
  </div>

  <div id="results"></div>
  <img src="https://i.gifer.com/ZgRk.gif" id="corner-gif" alt="Corner GIF">
  <div class="search-container">
    <form action="/submit" method="post">
      <input type="text" id="search-input" name="textbox_data" placeholder="Enter Song/ Keywords">
      <button id="search-button" type="submit">Submit</button>
    </form>
  </div>
  <div id="results"></div>
  <!-- <h1>{{ recommendations }}</h1> -->

  <h3 class= "title"> Recommendations </h1>
  <ul class = "list">
    {% for recommendation in recommendations %}
      <li> {{recommendation}} </li>

      {% endfor %}
  </ul>

  <script src="script.js"></script>
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</body>
</html>
